name: ci

on:
  pull_request:
    branches: ["develop", "main"]
  push:
    branches: ["develop"]

jobs:
  unit-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "25"
          cache: gradle

      - name: Unit tests (exclude integration tag)
        run: |
          chmod +x ./gradlew
          ./gradlew clean test -PexcludeTags=integration

